<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @shopping_lists %>
    </tbody>
  </table>
</div>
