  <%#= render 'index_header_metrics' %>
  <h2 class="page-header">Recent Products</h2>
  
  <%= render 'products/listing_table' %>
  
  <div class="text-right">
    <h4><%= link_to 'View All', products_path %></h4>  
  </div>
  

<h2 class="page-header">Recent Shopping Lists</h2>
